/* ================= TABLET ================= */
@media (max-width: 992px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-image img {
    width: 280px;
    margin-top: 40px;
  }

  section {
    padding: 60px 40px;
  }
}

/* ================= MOBILE ================= */
@media (max-width: 7px) {
  .header {
    padding: 20px 30px;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 60%;
    background: #111;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
  }

  .nav-links.active {
    right: 0;
  }

  .hero-title {
    font-size: 34px;
  }

  .section-title {
    font-size: 28px;
  }
}
@media (max-width: 992px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-content h3 {
    font-size: 24px;
  }

  .about-image img {
    max-width: 320px;
  }
}
@media (max-width: 992px) {
  .contact-wrapper {
    grid-template-columns: 1fr;
  }
}
